        body { font-family: Arial; background: #f0f0f0; padding: 20px; }
        table { width: 100%; border-collapse: collapse; background: white; }
        th, td { padding: 10px; border: 1px solid #ddd; text-align: center; }
        th { background: #013abb; color: white; }
        a.btn {
            padding: 8px 12px; 
            background: #007bff; 
            color: white; 
            text-decoration: none; 
            border-radius: 6px;
        }
        a.btn-danger { background: red; }
        a.btn-add { background: green; margin-bottom: 15px; display: inline-block; }
        
        .volverAlpanel{
            background-image: url("img/home.png");
            width: 32px;
            height: 32px;
            display: inline-block;
            background-size: cover;

        }