body {
    margin: 0;
    padding: 0;

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
    position: relative;
    --login-width: 300px;
}

.img-container{
    width: 100%;
    height: -webkit-fill-available;
    background-image: url("img/LogoFerremax.jpg");
    background-size: 100% 100%;  /* Se estira EN TODAS DIRECCIONES aunque se deforme */
    background-repeat: no-repeat;
}
.login-container {
    background: #ffffff;
    padding: 30px;
    min-width: 350px;
    margin-right: auto;
    border-radius: 0px;
    text-align: center;
    width: var(--login-width);
    height: -webkit-fill-available;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: relative;
    z-index: 1;

}

input, button {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
}
.longinServlet{
    display: flex;
    justify-content: center;
    flex-direction: column;


}


button {
    margin: auto;
    font-weight: bold;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    width: 122px;
    height: 42.66px;
    border: none;
    background-color: #013abb;
    display: flex;
    justify-content: center;
    align-items: center;
}

button .span-mother {
    display: flex;
    overflow: hidden;
}

button:hover .span-mother {
    position: absolute;
}

button:hover .span-mother span {
    transform: translateY(1.2em);
}

button .span-mother span:nth-child(1) {
    transition: 0.2s;
}

button .span-mother span:nth-child(2) {
    transition: 0.3s;
}

button .span-mother span:nth-child(3) {
    transition: 0.4s;
}

button .span-mother span:nth-child(4) {
    transition: 0.5s;
}

button .span-mother span:nth-child(5) {
    transition: 0.6s;
}

button .span-mother span:nth-child(6) {
    transition: 0.7s;
}

button .span-mother2 {
    display: flex;
    position: absolute;
    overflow: hidden;
}

button .span-mother2 span {
    transform: translateY(-1.2em);
}

button:hover .span-mother2 span {
    transform: translateY(0);
}

button .span-mother2 span {
    transition: 0.2s;
}

button .span-mother2 span:nth-child(2) {
    transition: 0.3s;
}

button .span-mother2 span:nth-child(3) {
    transition: 0.4s;
}

button .span-mother2 span:nth-child(4) {
    transition: 0.5s;
}

button .span-mother2 span:nth-child(5) {
    transition: 0.6s;
}

button .span-mother2 span:nth-child(6) {
    transition: 0.7s;
}
